server:
  port: 8084

spring:
  application:
    name: oms-order-service

  datasource:
    url: jdbc:postgresql://localhost:5436/oms_order_db
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Kolkata
  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
      sqs:
        endpoint: http://localhost:4566

services:
  product:
    url: http://localhost:8082
  inventory:
    url: http://localhost:8083



sqs:
  order-created-queue: order-created-queue